@font-face {
    font-family: 'Cocogoose';
    src: url('./CocogoosePro-Thin.woff2') format('woff2'),
        url('./CocogoosePro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('./CocogoosePro-Italic.woff2') format('woff2'),
        url('./CocogoosePro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('./COCOGOOSE-UltraLight.woff2') format('woff2'),
        url('./COCOGOOSE-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('./Cocogoose.woff2') format('woff2'),
        url('./Cocogoose.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Keep Calm';
    src: url('./KeepCalm-Medium.woff2') format('woff2'),
        url('./KeepCalm-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('./CocogoosePro-LightItalic.woff2') format('woff2'),
        url('./CocogoosePro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('./CocogoosePro-SemiLightItalic.woff2') format('woff2'),
        url('./CocogoosePro-SemiLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('./COCOGOOSE-DemiBold.woff2') format('woff2'),
        url('./COCOGOOSE-DemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('./CocogoosePro-ThinItalic.woff2') format('woff2'),
        url('./CocogoosePro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('./Cocogoose-Light.woff2') format('woff2'),
        url('./Cocogoose-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose';
    src: url('./CocogoosePro-UltraLightItalic.woff2') format('woff2'),
        url('./CocogoosePro-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
  font-family: 'IconFont';
  src: url('./IconFont.eot');
  src: url('./IconFont.eot?#iefix') format('embedded-opentype'),
       url('./IconFont.woff') format('woff'),
       url('./IconFont.ttf') format('truetype'),
       url('./IconFont.svg#IconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'IconFont';
    src: url('./IconFont.svg#IconFont') format('svg');
  }
}

[class^='icon-']:before, [class*=' icon-']:before,
[class^='icon-']:after, [class*=' icon-']:after {
  font-family: 'IconFont';
}

.icon-menu:before { content: "\f100"; }
.icon-consultation:before { content: "\f101"; }
.icon-legal:before { content: "\f102"; }
.icon-cheap:before { content: "\f103"; }
.icon-timely:before { content: "\f104"; }
.icon-experienced:before { content: "\f105"; }
.icon-quality:before { content: "\f106"; }
.icon-plus:before { content: "\f107"; }
.icon-up:before { content: "\f108"; }
.icon-left-long:before { content: "\f109"; }
.icon-right-long:before { content: "\f10a"; }
.icon-down:before { content: "\f10b"; }
.icon-close:before { content: "\f10c"; }
.icon-checked:before { content: "\f10d"; }
.icon-left:before { content: "\f10e"; }
.icon-right:before { content: "\f10f"; }
.icon-instagram:before { content: "\f110"; }
.icon-facebook:before { content: "\f111"; }
.icon-phone:before { content: "\f112"; }
